[submodule "vendor/ShaderGraph.js"]
	path = vendor/ShaderGraph.js
	url = https://github.com/unconed/ShaderGraph.js.git
[submodule "vendor/ThreeBox.js"]
	path = vendor/ThreeBox.js
	url = https://github.com/unconed/ThreeBox.js.git
[submodule "vendor/ThreeRTT.js"]
	path = vendor/ThreeRTT.js
	url = https://github.com/unconed/ThreeRTT.js
[submodule "vendor/console-extras"]
	path = vendor/console-extras
	url = https://github.com/unconed/console-extras.js.git
