[submodule "vendor/ShaderGraph.js"]
	path = vendor/ShaderGraph.js
	url = https://github.com/unconed/ShaderGraph.js.git
[submodule "vendor/ThreeBox.js"]
	path = vendor/ThreeBox.js
	url = https://github.com/unconed/ThreeBox.js.git
[submodule "vendor/ThreeRTT.js"]
	path = vendor/ThreeRTT.js
	url = https://github.com/unconed/ThreeRTT.js
[submodule "vendor/CSS3D.js"]
	path = vendor/CSS3D.js
	url = https://github.com/unconed/CSS3D.js.git
